<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contack Us</title>
    <link rel="stylesheet" href="/css/add-product.css">
</head>

<body>
    <header class="header_tag">
        <nav>
            <ul class="header_nav_ul_tag">
                <li class="header_nav_ul_li_tag"><a href="/">Shop</a></li>
                <li class="header_nav_ul_li_tag"><a href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form class="main_form_tag" action="/admin/success" method="POST">
            <label for="name">Name:</label>
            <input class="input_tag" type="text" name="email">
            <br>
            <br>
            <label for="">Email:</label>
            <input class="input_tag" type="email" name="title">
            <button class="button_tag" type="submit">Submit</button>
        </form>
    </main>
</body>

</html>